<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
<body>
  <%- include('../partials/nav.ejs') %>
 <div class="blogs content">
  
<form action="/blogs" method="POST">
  <h2>Create Blog</h2>
<label for="title">Blog Title:</label>
<input type="text" name="title" required>

<label for="snippet">Blog snippet</label>
<input type="text" name="snippet"  required>

<label for="body">Blog Body</label>
<textarea  required name="body"></textarea>
<button>Submit</button>

</form>





</div>
 
<%- include("../partials/foot.ejs") %>

</body>
</html>