<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  <%- include('./partials/nav.ejs') %>
 <div class="blogs content">
  <h2>All Blogs</h2>
<P>OOPS! Page not found :( </P>
</div>
 
<%- include("./partials/foot.ejs") %>

</body>
</html>